.Nav {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {

  height: 150px;
  padding: 20px;
    padding-bottom: 0;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content{
  margin: 0;
  text-align: center;
    padding: 0;
    display: flex;
}

.view {
    width: 100%;
}